*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main{
    width: 100%;
    height :8vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#b7ad42,#bc860f);
}
.main h1 a{
    color: white;
    text-decoration: none;
}
nav{
    width: 90%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display:flex;
    align-items: center;
}
.menu{
    flex: 1;
    text-align: right;   
}
.menu ul li{
    list-style:none;
    display: inline-block;
    margin: 0 20px;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}
.menu ul li a:hover{
    color: black;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('BG1.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background:transparent;
    border: 2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: black;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid black;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition:.5s;
}
input:focus ~ label,
input:valid~label{
    top:-5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: black;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: black;
    display: flex;
    justify-content: center;
    line-height: 1.8;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color:black;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
.Terms{
    margin: -15px 0 15px;
    font-size: .9em;
    color: black;
    display: flex;
    justify-content: center;
    line-height: 1.8;
}
.Terms label input{
    margin-right: 3px;
}
.Terms label a{
    color:black;
    text-decoration: none;
}
button{
    width:100%;
    height: 40px;
    border-radius: 40px;
    background: whitesmoke;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
button a{
    color: inherit;
  text-decoration: inherit;
}
button:hover{
    background: black;
    color: white;
}
.register{
    font-size: .9em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.register p a:hover{
    text-decoration:underline;
}