<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='savedsummary.css') }}">
    <title>User Profile - Saved Summaries</title>
</head>
<body>
    <div class="main">
        <nav>
            <h1><a href="{{ url_for('homepageafterlogin') }}">MCAS</a></h1>
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('homepageafterlogin') }}">Home</a></li>
                    <a href="{{ url_for('user') }}"><ion-icon name="person-circle-outline"></ion-icon></a>
                </ul>
            </div>
        </nav>
    </div>
    <div class="savedsummaries">
        <div class="Summary-container">
            <h3>The Saved Summaries are:</h3>
            {% if summaries %}
                <ul>
                    {% for summary in summaries %}
                        <li>
                            <h4>Video_ID:{{ summary.input_name }}</h4>
                            <p>{{ summary.output_data }}</p>
                            <small>Saved on: {{ summary.created_at }}</small>
                        </li>
                    {% endfor %}
                </ul>
                <!-- Text Summaries Section -->

        <ul>
            {% for summary in summaries %}
                {% if summary.input_type == "text" %}
                <h4>Text Summaries:</h4>
                    <li>
                        <p>{{ summary.output_data }}</p>
                        <small>Saved on: {{ summary.created_at }}</small>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
            {% else %}
                <p>No saved summaries found.</p>
            {% endif %}
        </div>
    </div>
    <div class="footer">
        <h2>About Us:</h2>
        <h4>MCAS</h4>
        <p>MCAS- A simple tool to generate summaries of videos and improve your efficiency.</p>
        <div class="contact">
            <h5>Contact us:</h5>
            <p>MCAS@gmail.com</p>
            <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div class="copyright">
            <h6>Copyright 2024 MCAS. All rights reserved.</h6>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>